<html>
<head>
	<link rel="stylesheet" type="text/css" href="./index.css" /> 
	<link type="text/css" rel="stylesheet" href="./articles.css" />
	<script type="text/javascript" src="./articles.js"></script>
</head>
<body>
	<h1>Articles</h1>
	<table class="article-table">
		<tbody id="article-list"></tbody>
	</table>
	
	<form name="mainForm">
		<table>
			<tr>
				<td>Author:</td>
				<td><input type="text" name="author" class="red-border" /></td>
			</tr>
			<tr>
				<td>Content:</td>
				<td>
					<textarea rows="6" cols="60" name="content" class="red-border"></textarea>
				</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td><input type="submit" value="OK" class="red-border" /></td>
			</tr>
		</table>
	</form>
	
</body>
</html>