<html>
<head>
	<link rel="stylesheet" type="text/css" href="./index.css" /> 
	<link type="text/css" rel="stylesheet" href="./articles.css" />
	<script type="text/javascript" src="./articles.js"></script>
</head>
<body>
	<h1>Articles</h1>
	<a href="http://localhost:8081/simple-blog/">Odkaz na Index</a>
	<a href="http://localhost:8081/simple-blog/users">Odkaz na Users</a>
	
	<p>
		<a href="./logout">Logout</a>
	</p>
	
	<p id="main-text"></p>
	
	
	<table class="article-table">
		<tbody id="article-list"></tbody>
	</table>
	
	<form name="mainForm">
		<table>
			<tr>
				<td>Content:</td>
				<td>
					<textarea rows="6" cols="60" name="content" class="red-border"></textarea>
				</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td><input type="submit" value="SAVE" class="red-border" /></td>
			</tr>
		</table>
	</form>
	
		<form name="updateForm">
		<table>
					<tr>
				<td>articleId:</td>
				<td>
					<textarea rows="1" cols="5" name="articleId" class="red-border"></textarea>
				</td>
			</tr>
			<tr>
				<td>Content:</td>
				<td>
					<textarea rows="6" cols="60" name="content" class="red-border"></textarea>
				</td>
			</tr>
		</table>
	</form>
	<button id="update-art">UPDATE ARTICLE</button>
	<button id="comment-butt">COMMENT</button>
	<button id="update-com">UPDATE COMMENT</button>
</body>
</html>