<!DOCTYPE html>
<html lang="en">
<head>
	<title>JavaBootCamp 2020 - Users</title>
	<link type="text/css" rel="stylesheet" href="./index.css" />
	<link type="text/css" rel="stylesheet" href="./users.css" />
	<script type="text/javascript" src="./users.js"></script>
</head>
<body>
	<h1>Users</h1>
	<table class="user-list">
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
			</tr>
		</thead>
		<tbody id="user-table"></tbody>
	</table>
	<form name="mainForm" onsubmit="return false;">
		<table>
			<tr>
				<td>Jmeno:</td>
				<td><input type="text" name="firstname" class="red-border" /></td>
			</tr>
			<tr>
				<td>Prijmeni:</td>
				<td><input type="text" name="lastname" class="red-border" /></td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td><input id="another-button" type="submit" value="OK" class="red-border" /></td>
			</tr>
		</table>
	</form>
</body>
</html>
